<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Wise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Weather_App.styles.css" asp-append-version="true" />
    <!-- Loading third party fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
   
    <div class="site-content">
            
        @RenderBody()
     

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center footerJoke">
                        <p class="footerJokeContext">What did one raindrop say to the other?</p>
                        <p class="footerJokeContext"><i> ~ Two's company, three's a cloud!</i></p>

                    </div>

                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/js/jquery-1.11.1.min.js"></script>
        <script src="~/js/plugins.js"></script>
        <script src="~/js/app.js"></script>
        <script src="https://kit.fontawesome.com/156db1cafe.js" crossorigin="anonymous"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
